[Desktop Entry]
Version=1.0
Type=Application
Name=Yadaw
GenericName=Yadaw
Comment=Mini DAW for sound design and prototyping.
Exec=yadaw %F
Icon=io.github.mlm_games.yadaw
Terminal=false
Categories=Audio;AudioVideo;Music;
MimeType=audio/midi;audio/x-wav;audio/x-flac;audio/mpeg;
StartupWMClass=Yadaw
StartupNotify=true
